# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Arquivos .pyc gerados no root
*.python-*-*.pyc

# Virtual environments
venv/
env/

# Distribuições e builds
build/
dist/
*.egg-info/

# Bancos de dados locais
*.db
*.sqlite3

# Logs
*.log

# IDEs e editores
.vscode/
.idea/

# Arquivos de sistema
.DS_Store
Thumbs.db

# Variáveis de ambiente
.env
